    @import '~antd/dist/antd.css';
    body {
        position: relative;
        z-index: auto;
        box-sizing: border-box;
        color: rgb(204, 204, 204);
        background-color: rgb(26, 24, 20);
        background-image: url(asset/General_BG_new.png);
        background-size: auto;
        max-width: 2400px;
        background-position: center top;
        background-repeat: repeat;
        margin: 0px auto;
        padding: 0px 60px;
        line-height: 1.6;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.25) 0px 0px 8px;
        font-family: Sarabun, sans-serif;
        letter-spacing: 0.05em;
        font-weight: 300;
        font-size: 1.14em;
        text-align: justify;
        margin: 0.6em 0px;
    }
    
    h1 {
        margin-top: 0;
        margin-bottom: 0.5em;
        color: rgb(204, 204, 204);
        font-weight: 500;
    }
    
    .ant-steps {
        justify-content: center;
    }
    
    .ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
        margin-bottom: 30px;
    }
    
    .ant-steps-item-tail::after {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px 1px inset, rgba(0, 0, 0, 0.5) 0px -1px 0px, rgba(0, 0, 0, 0.5) 0px 1px 0px, rgba(51, 46, 46, 0.75) 0px -3px 0px, rgba(51, 46, 46, 0.75) 0px 3px 0px, rgba(0, 0, 0, 0.4) 0px 4px 8px;
    }
    
    .ant-steps-dot .ant-steps-item-icon .ant-steps-icon-dot {
        background-image: url(asset/regis_point_large.png);
        width: 35px;
        height: 35px;
        background-size: 35px;
    }
    
    .ant-steps-dot .ant-steps-item-process .ant-steps-item-icon .ant-steps-icon-dot {
        top: -12px;
    }
    
    .ant-steps-dot .ant-steps-item:first-child .ant-steps-icon-dot {
        left: -15px;
    }
    
    .ant-steps-dot .ant-steps-item-tail {
        margin: 0 0 0 48px;
    }
    
    .ant-steps-dot .ant-steps-item-icon {
        margin-left: 45px;
    }
    
    .ant-steps-dot .ant-steps-item-content {
        width: 100px;
    }
    
    .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
        background-image: url(asset/regis_point_large_active.png);
    }
    
    .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
        background: url(asset/regis_point_large_active.png) center center;
        background-size: 40px;
        left: -12px;
    }
    
    .ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
        background: url(asset/regis_point_large.png) center center;
        background-size: 35px;
        left: -12px;
        top: -12px;
    }
    
    .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
        background: url(asset/regis_point_large_active.png) center center;
        background-size: 40px;
        left: -12px;
        top: -12px;
    }
    
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
        background-color: rgb(204, 34, 0);
    }
    
    .Nav-Sticky {
        z-index: 48;
        position: absolute;
        top: 2px;
        left: 0px;
        display: block;
        width: 100%;
    }
    
    .Nav-Sticky-Content {
        display: inline-block;
        width: 100%;
        top: 2px;
        transform: none;
        z-index: 100;
        position: fixed;
    }
    
    .Nav-Fade-Black {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 8.1%, rgba(0, 0, 0, 0.76) 15.5%, rgba(0, 0, 0, 0.718) 22.5%, rgba(0, 0, 0, 0.66) 29%, rgba(0, 0, 0, 0.592) 35.3%, rgba(0, 0, 0, 0.518) 41.2%, rgba(0, 0, 0, 0.44) 47.1%, rgba(0, 0, 0, 0.36) 52.9%, rgba(0, 0, 0, 0.282) 58.8%, rgba(0, 0, 0, 0.208) 64.7%, rgba(0, 0, 0, 0.14) 71%, rgba(0, 0, 0, 0.082) 77.5%, rgba(0, 0, 0, 0.04) 84.5%, rgba(0, 0, 0, 0.01) 91.9%, rgba(0, 0, 0, 0) 100%);
        height: 160px;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 49;
        right: 0px;
        pointer-events: none;
        flex: 1 1 auto;
    }
    
    .Nav-Row {
        margin-left: auto;
        margin-right: auto;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        max-width: 1600px;
        top: 20px;
        left: 0px;
        position: sticky;
        z-index: 50;
        display: flex;
        padding: 0px;
    }
    
    .Logo {
        display: inline-block;
        white-space: nowrap;
        font-size: 22px;
        margin-right: 30px;
    }
    
    .Nav-Logo {
        position: relative;
        max-width: 100%;
        display: inline-block;
        width: 40px;
        overflow: hidden;
    }
    
    .Nav-Links {
        display: inline-block;
        white-space: nowrap;
        font-family: 'Lora', serif;
        font-weight: bold;
        color: rgb(255, 241, 221);
        text-shadow: rgba(153, 0, 0, 0.8) 0px 2px 0px, rgba(153, 0, 0, 0.6) 0px 2px 4px;
        font-size: 17.778px;
        margin-right: 30px;
        text-decoration: none;
        transition: color 0.25s ease 0s, transform 0.25s ease 0s, opacity 0.25s ease 0s;
    }
    
    .Nav-Links:hover {
        color: rgba(255, 255, 255, 1);
    }
    
    .Heading-Text {
        font-family: 'Lora', serif;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
        letter-spacing: 0.3em;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0;
    }
    
    .Heading-Text h1 {
        margin: 50px 0;
    }
    
    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: rgba(255, 255, 255, 1);
    }
    
    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: rgb(204, 204, 204);
    }
    
    .ant-divider-horizontal {
        background-color: gray;
        opacity: 40%;
    }
    
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: rgba(255, 255, 255, 1);
    }
    
    .ant-steps-label-vertical .ant-steps-item-content {
        margin-top: 15px;
    }
    /*label*/
    
    .ant-form-item-label>label {
        color: rgb(204, 204, 204);
    }
    /*Input*/
    
    .ant-input {
        border: 0px solid rgb(55, 12, 8);
        background-color: black;
    }
    
    .ant-input:hover {
        filter: brightness(150%) !important;
        border-color: transparent;
        border-right-width: 0px !important;
    }
    
    .ant-input:focus {
        border-color: transparent;
        border-right-width: 0px !important;
        filter: brightness(150%) !important;
        -webkit-box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2);
        box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2);
    }
    
    .has-error .ant-input:focus {
        border: 1px solid rgb(55, 12, 8);
        background-color: black;
        border-color: rgb(55, 12, 8);
        -webkit-box-shadow: 0 0 0 0px rgba(245, 34, 45, 0.2);
        box-shadow: 0 0 0 0px rgba(245, 34, 45, 0.2);
    }
    
    .has-error .ant-input,
    .has-error .ant-input:hover {
        border: 1px solid rgb(55, 12, 8);
        border-color: rgb(55, 12, 8);
        background-color: black;
        border-right-width: 1px !important;
    }
    
    .ant-input:placeholder-shown {
        filter: brightness(0.5);
    }
    
    input:valid {
        color: white;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 0px 0;
        letter-spacing: 0.05em;
    }
    
     ::selection {
        background: transparent;
    }
    
    .ant-input-number {
        border: 0px solid #d9d9d9;
        background-color: black;
    }
    
    .ant-input-number:hover {
        border-color: #121212;
        border-right-width: 0px !important;
    }
    
    .ant-input-number-handler-up,
    .ant-input-number-handler-down {
        background-color: #121212;
    }
    
    .ant-input-number-handler-wrap {
        border-left: 1px solid #121212;
    }
    
    .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
    .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
        color: whitesmoke;
    }
    
    .ant-input-number-handler:active {
        background-color: #121212;
    }
    
    .ant-input-number:focus {
        border-color: transparent;
        border-right-width: 0px !important;
        -webkit-box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2);
        box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2);
    }
    /*Selection*/
    
    .ant-select-selection {
        border: 0px solid #d9d9d9;
        background-color: black;
    }
    /*Dropdown*/
    
    .ant-select-dropdown {
        background-color: black;
    }
    
    .ant-select-dropdown-menu-item {
        color: white;
    }
    
    .ant-select {
        color: white;
    }
    
    .anticon {
        color: white;
    }
    
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active {
        border-right-width: 0px !important;
        -webkit-box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2);
        box-shadow: 0 0 0 0px rgba(24, 144, 255, 0.2);
    }
    
    .ant-select-selection:hover {
        border-right-width: 0px !important;
    }
    
    .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: #121212;
    }
    
    .ant-select-dropdown-menu-item-selected {
        background-color: #121212;
    }
    
    .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: #121212;
    }
    /*Button*/
    
    .Button-Row {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        align-items: stretch;
        text-align: center;
        flex-wrap: nowrap;
        padding: 40px 0px 0px;
    }
    
    .Button-Link {
        color: inherit;
        pointer-events: auto;
        flex: 1 1 0%;
    }
    
    .Button-Column {
        align-self: center;
        position: relative;
        display: block;
        box-shadow: rgba(204, 95, 41, 0.15) 0px 0px 20px 5px, rgba(204, 95, 41, 0.3) 0px 6px 60px 15px;
        min-width: 250px;
        flex: 1 1 auto;
        transition: filter 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        margin: 5px 20px;
        max-width: 250px;
        cursor: pointer;
    }
    
    .Button-Column.left {
        left: 0;
    }
    
    .Button-Column.right {
        right: 0;
    }
    
    .Button-Column:hover {
        filter: brightness(120%);
    }
    
    .Button-Column:active {
        opacity: 0.95;
        transform: scale(0.96);
    }
    
    .Button-Left-Image {
        max-width: 100%;
        display: inline-block;
        position: absolute;
        left: -13px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        overflow: hidden;
    }
    
    .Button-Left-Image img,
    .Button-Right-Image img {
        width: 100%;
        vertical-align: middle;
    }
    
    .Button-Right-Image {
        max-width: 100%;
        display: inline-block;
        position: absolute;
        right: -13px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        overflow: hidden;
    }
    
    .Button-BorderImage {
        border-image-source: url(asset/Button_Frame.png);
        border-image-width: 22px 42px;
        border-image-repeat: round;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        pointer-events: none;
        border-image-slice: 44 84 fill;
        border-style: solid;
        border-width: 22px 42px;
    }
    
    .Button-Background {
        line-height: 1;
        text-transform: uppercase;
        width: 100%;
        background-color: rgb(102, 0, 0);
        color: rgb(255, 238, 204);
        font-weight: bold;
        text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px, rgba(0, 0, 0, 0.4) 0px 2px 4px;
        background-image: url(asset/CC_Button_middle.png);
        background-size: 500px 170px;
        font-family: SourceSerifVariable, SourceSerif, serif;
        letter-spacing: 0.025em;
        cursor: inherit;
        font-size: 1.125em;
        height: 70px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        background-position: center center;
        padding: 0px 35px;
    }
    /*label*/
    
    .ant-radio-wrapper {
        color: white;
    }
    
    .ant-radio-inner::after {
        background-color: #121212;
    }
    
    .ant-radio-checked .ant-radio-inner {
        border-color: #121212;
    }
    
    .ant-radio-wrapper:hover .ant-radio,
    .ant-radio:hover .ant-radio-inner,
    .ant-radio-input:focus+.ant-radio-inner {
        border-color: #121212;
    }
    /*calender*/
    
    .ant-calendar {
        background-color: #15181F;
        border: 0px solid #121212;
    }
    
    span {
        color: whitesmoke;
    }
    
    .ant-calendar-header .ant-calendar-century-select,
    .ant-calendar-header .ant-calendar-decade-select,
    .ant-calendar-header .ant-calendar-year-select,
    .ant-calendar-header .ant-calendar-month-select {
        color: whitesmoke;
    }
    
    .ant-calendar-date {
        color: whitesmoke;
    }
    
    .ant-calendar-last-month-cell .ant-calendar-date,
    .ant-calendar-next-month-btn-day .ant-calendar-date,
    .ant-calendar-last-month-cell .ant-calendar-date:hover,
    .ant-calendar-next-month-btn-day .ant-calendar-date:hover {
        color: gray;
    }
    
    .ant-calendar-selected-day .ant-calendar-date {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-today .ant-calendar-date {
        color: white;
        border-color: transparent;
    }
    
    .ant-calendar-date:hover {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-month-panel {
        background: #15181F;
    }
    
    .ant-calendar-month-panel-month {
        color: whitesmoke;
    }
    
    .ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month:hover {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-header a:hover {
        color: white;
    }
    
    .ant-calendar-month-panel-month:hover {
        background: #fecb1f;
    }
    
    .ant-calendar-year-panel {
        background: #15181F;
    }
    
    .ant-calendar-year-panel-last-decade-cell .ant-calendar-year-panel-year,
    .ant-calendar-year-panel-next-decade-cell .ant-calendar-year-panel-year {
        color: gray;
    }
    
    .ant-calendar-year-panel-year {
        color: whitesmoke;
    }
    
    .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-year-panel-year:hover {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year:hover {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-decade-panel {
        background: #15181F;
    }
    
    .ant-calendar-decade-panel-century {
        color: whitesmoke;
    }
    
    .ant-calendar-decade-panel-last-century-cell .ant-calendar-decade-panel-decade,
    .ant-calendar-decade-panel-next-century-cell .ant-calendar-decade-panel-decade {
        color: gray;
    }
    
    .ant-calendar-decade-panel-decade {
        color: whitesmoke;
    }
    
    .ant-calendar-decade-panel-decade:hover {
        background: #fecb1f;
    }
    
    .ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade:hover {
        background: #fecb1f;
        color: #121212;
    }
    
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-century-btn:hover::before,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-decade-btn:hover::before,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-year-btn:hover::before,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-century-btn:hover::after,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-decade-btn:hover::after,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-year-btn:hover::after {
        border-color: white;
    }
    
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-century-btn:hover::before,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-decade-btn:hover::before,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-year-btn:hover::before,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-century-btn:hover::after,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-decade-btn:hover::after,
    .ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-year-btn:hover::after {
        border-color: white;
    }
    
    .ant-calendar-picker-input.ant-input {
        color: white;
    }
    
    .ant-calendar-picker-clear {
        background-color: black;
    }
    
    .ant-calendar-picker-clear:hover {
        color: white;
    }
    
    .ant-calendar-today-btn {
        color: whitesmoke;
    }
    
    a:hover.ant-calendar-today-btn {
        color: whitesmoke;
    }