.intro {
  background-image: url("../image/backgroud.jpg");
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .intro .text-intro {
    display: flex;
    color: black;
    margin: 0px 25px 0px 25px;
    font-size: 25px; }
  .intro .logo-intro {
    display: flex;
    width: 400px; }

@media screen and (min-width: 1000px) {
  .intro {
    height: 700px; }
    .intro .text-intro {
      width: 1000px; } }
