/**
	* Base styling
	*/

.Navbar {
    position: relative;
    box-sizing: border-box;
    font-family: $Navbar-font-family;
    font-size: $Navbar-font-size-base;
    font-weight: $Navbar-font-weight;
    line-height: $Navbar-line-height;
    color: $Navbar-color-text;
    z-index: $Navbar-zIndex-default;
    // These are all of the block-level elements in use by Navbar, listed individually to avoid using a universal selector
    a,
    div,
    img,
    nav,
    svg {
        box-sizing: border-box;
        vertical-align: baseline;
    }
    a {
        font-weight: normal;
        text-transform: none;
    }
    svg {
        width: auto;
        height: auto;
    }
    button {
        border-radius: 0;
        letter-spacing: normal;
        text-transform: none;
    }
    // Reset max-width for our images to reset any global img max-width settings from sites that consume this library
    img {
        max-width: none;
    }
    .Navbar-embedded {
        display: none;
    }
    .Navbar-container {
        position: relative;
        max-width: $Navbar-breakpoint-huge-max;
        margin: 0 auto;
    }
    .Navbar-modals {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .Navbar-constrained {
            position: relative;
            max-width: $Navbar-breakpoint-huge-max;
            margin: 0 auto;
        }
    }
    .Navbar-logo {
        position: relative;
        color: $Navbar-color-logo-base;
        svg {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            fill: currentColor;
            pointer-events: none;
        }
    }
    .Navbar-icon {
        position: relative;
        height: $Navbar-size-icon;
        width: $Navbar-size-icon;
        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            fill: currentColor;
            pointer-events: none;
        }
    }
    .Navbar-profileItems {
        position: absolute;
        top: 0;
        right: $Navbar-margin-mobile;
        bottom: 0;
    }
    .Navbar-link,
    .Navbar-dropdownToggle {
        cursor: pointer;
    }
    .Navbar-errors {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $Navbar-color-background-error-overlay;
        color: $Navbar-color-error;
        text-align: center;
    }
    .Navbar-error {
        margin: $Navbar-margin-error;
        font-family: $Navbar-font-family;
        font-size: $Navbar-font-size-error;
        font-weight: $Navbar-font-weight;
        line-height: $Navbar-line-height-error;
        a {
            color: $Navbar-color-error;
            transition: $Navbar-transition-hover-link;
            &:hover,
            &:active {
                color: $Navbar-color-text;
            }
        }
    }
    &>.Navbar-overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $Navbar-color-overlay;
    }
    &.is-focused {
        z-index: $Navbar-zIndex-focused;
        .Navbar-overlay {
            display: block;
            animation-name: Navbar-dropdown-fade-in;
            animation-duration: 200ms;
        }
    }
    &.is-error {
        z-index: $Navbar-zIndex-focused;
        .Navbar-errors {
            display: block;
        }
    }
    &.is-disabled {
        display: none !important;
    }
}