.Section.Faq {
    padding: 120px 60px;

    &.lazy-bg-loaded {
        background-image: url(/asset/FAQs_BG.jpg);
    }
}

.Faq-Column {
    margin: 0px 10% 0px 10%;
    margin-top: -80px;
}

accordion-a-color {
    color: black !important;
}

.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: white;
    font-size: 1.15rem;
    letter-spacing: 0.05em;
    font-weight: 300;
    border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: white;
}

.accordion a:hover::after {
    border: 1px solid white;
}

.accordion a.active {
    color: white;
    border-bottom: 1px solid white;
}

.accordion a::after {
    font-family: 'Ionicons';
    content: '\f125';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: white;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
}

.accordion-item.color-1 {
    //filter: brightness(80%);
    background-color: #291920d0;
}

.accordion-item.color-2 {
    //filter: brightness(95%);
    background-color: #521b26d0;
}

.accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f123';
    color: white;
    border: 1px solid white;
}

.accordion .content {
    filter: brightness(100%);
    background-color: whitesmoke;
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

.accordion .content.active {
    background-color: #f5f5f56e;
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

@media screen and (max-width: 480px) {
    .Section.Faq {
        padding: 0px 15px 120px 15px;
    }
    .Head-Row {
        margin-top: -50px;
        min-height: 300px;
    }
}