.intro {
  background-image: url("../image/backgroud.jpg");
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-intro {
    display: flex;
    color: black;
    margin: 0 25px 0 25px;
    font-size: 25px;
    text-align: center;
  }

  .logo-intro {
    display: flex;
    width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .intro {
    height: 700px;

    .text-intro {
      width: 1000px;
    }
  }
}
