.Section {
    position: relative;
    z-index: auto;
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    background-color: rgb(26, 24, 20);
    background-image: url(/frontend/asset/General_BG_new.png);
    background-size: auto;
    max-width: 2400px;
    font-size: 17.778px;
    background-position: center top;
    background-repeat: repeat;
    margin: 0px auto;
    padding: 0px 60px;
}

.Section::before,
.Section::after {
    content: "";
    display: table;
    clear: both;
}

.Section-Background {
    position: absolute;
    top: 0px;
    bottom: 10%;
    left: 0px;
    right: 0px;
    z-index: 0;
    overflow: hidden;
}

#particles-js {
    z-index: 1;
}

.VideoBackground {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.Section-Content {
    position: relative;
}

.Section-Row {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1600px;
    min-height: 900px;
    height: 85vh;
    max-height: 1000px;
    padding: 0px;
}

.Intro-Column {
    width: 100%;
    text-align: center;
    position: relative;
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    flex: 1 0 auto;
    margin: 80px auto 100px;
}

.Intro-Row {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1600px;
    padding: 0px;
}

.Intro-Image {
    position: relative;
    display: inline-block;
    max-width: 1100px;
    margin-top: 60px;
    overflow: hidden;
}

.Intro-Image img {
    width: 100%;
    vertical-align: middle;
}

.Intro-Text {
    display: block;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.25) 0px 0px 8px;
    letter-spacing: 0.1em;
    font-family: 'Lora', serif;
    font-size: 1.202em;
    color: rgb(255, 255, 255);
    max-width: 700px;
    line-height: 1.125;
    margin: 0px 0px 30px;
    line-height: 200%;
}

.Markdown {
    display: block;
}

.Button-Row {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    align-items: stretch;
    text-align: center;
    min-height: 250px;
    flex-wrap: nowrap;
    width: 80%;
    max-width: 450px;
    padding: 40px 0px 0px;
}

.Button-Link {
    color: inherit;
    pointer-events: auto;
    flex: 1 1 0%;
}

.Button-Column {
    align-self: center;
    position: relative;
    display: block;
    box-shadow: rgba(204, 95, 41, 0.15) 0px 0px 20px 5px, rgba(204, 95, 41, 0.3) 0px 6px 60px 15px;
    min-width: 250px;
    flex: 1 1 auto;
    transition: filter 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    margin: 5px 20px;
}

.Button-Column:hover {
    filter: brightness(120%);
}

.Button-Column:active {
    opacity: 0.95;
    transform: scale(0.96);
}

.Button-Left-Image {
    max-width: 100%;
    display: inline-block;
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    overflow: hidden;
}

.Button-Left-Image img,
.Button-Right-Image img {
    width: 100%;
    vertical-align: middle;
}

.Button-Right-Image {
    max-width: 100%;
    display: inline-block;
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    overflow: hidden;
}

.Button-BorderImage {
    border-image-source: url(/frontend/asset/Button_Frame.png);
    border-image-width: 22px 42px;
    border-image-repeat: round;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    pointer-events: none;
    border-image-slice: 44 84 fill;
    border-style: solid;
    border-width: 22px 42px;
}

.Button-Background {
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    background-color: rgb(102, 0, 0);
    color: rgb(255, 238, 204);
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px, rgba(0, 0, 0, 0.4) 0px 2px 4px;
    background-image: url(/frontend/asset/Button_Highlight/CC_Button_middle.png);
    background-size: 500px 170px;
    font-family: SourceSerifVariable, SourceSerif, serif;
    letter-spacing: 0.025em;
    cursor: inherit;
    font-size: 1.125em;
    height: 70px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background-position: center center;
    padding: 0px 35px;
}

.Line-Section {
    position: relative;
    box-sizing: border-box;
    max-width: 2400px;
    height: 47px;
    width: 100%;
    background-image: url(/frontend/asset/CC_seperate.png);
    background-size: 600px 47px;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0px 24px 8px, rgba(0, 0, 0, 0.33) 0px 0px 12px;
    margin: 0px auto;
    background-position: center center;
    background-repeat: repeat-x;
}

.Line-Section::before,
.Line-Section::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 480px) {
    .Section {
        position: relative;
        z-index: auto;
        box-sizing: border-box;
        font-family: sans-serif;
        color: rgb(204, 204, 204);
        font-size: 15.802px;
        background-color: rgb(26, 24, 20);
        background-image: url(/frontend/asset/General_BG_new.png);
        background-size: auto;
        max-width: 2400px;
        background-position: center top;
        background-repeat: repeat;
        margin: 0px auto;
        padding: 0px 15px;
    }
}

@media screen and (max-width: 380px) {
    .Button-Row {
        width: 100%;
    }
    .Section-Row {
        min-height: 650px;
    }
}