.Nav-mobile {
    display: none;
}

@media screen and (max-width: 680px) {
    .Logo {
        margin-right: 0px;
        margin-top: 5px;
    }
    .Nav-Sticky-Content {
        display: none;
    }
    .Nav-mobile {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 48px;
        width: 100%;
        >.Nvmb-background {
            background-color: #0d0200;
            background-image: linear-gradient(to right, #0d0200, #260000, #0d0200);
            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2), 0 0 6px rgba(102, 20, 20, 0.6), 0 0 24px rgba(102, 20, 20, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            z-index: -1;
            transition: height 0.3s;
        }
        >.Nvmb-start {
            text-align-last: center;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }
        >.Nvmb-end {
            position: absolute;
            left: 20px;
            top: 0;
            bottom: 0;
            width: 48px;
            >div {
                width: 25px;
                background: white;
                height: 4px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.7s;
                &:before,
                &:after {
                    content: "";
                    width: 100%;
                    background: white;
                    height: 100%;
                    position: absolute;
                    transform: translateY(-225%);
                    transition: all 0.7s;
                }
                &:after {
                    transform: translateY(225%);
                }
            }
        }
        >.Nvmb-menu {
            display: none;
            >a {
                display: none;
                opacity: 0;
            }
        }
        &.Nvmb-active {
            >.Nvmb-background {
                height: 450px;
                transition: height 0.5s;
            }
            >.Nvmb-end>div {
                background: rgba(255, 255, 255, 0);
                &:before {
                    width: 135%;
                    transform-origin: left center;
                    transform: translate(70%, -255%) rotate(135deg);
                }
                &:after {
                    width: 135%;
                    transform-origin: right center;
                    transform: translate(-100%, -255%) rotate(225deg);
                }
            }
            >.Nvmb-menu {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                padding-top: 2rem;
                >a {
                    display: block;
                    margin: 0 0 1rem;
                    text-align: center;
                    font-size: 2rem;
                    animation: translateDown 0.5s forwards;
                    &:nth-child(2) {
                        animation-delay: 0.1s;
                    }
                    &:nth-child(3) {
                        animation-delay: 0.2s;
                    }
                    &:nth-child(4) {
                        animation-delay: 0.3s;
                    }
                    &:nth-child(5) {
                        animation-delay: 0.4s;
                    }
                    &:nth-child(6) {
                        animation-delay: 0.5s;
                    }
                }
            }
        }
    }
}

@keyframes translateDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}