/**
	* High level responsive behavior
	*/

.Navbar {
    &.is-mobile {
        background-color: $Navbar-color-background-mobile;
        box-shadow: $Navbar-shadow-mobile;
    }
    &.is-desktop {
        background-color: $Navbar-color-background-desktop;
        .Navbar-dropdown {
            top: $Navbar-height-desktop - 1;
        }
        .Navbar-accountDropdownLink {
            transition: $Navbar-transition-hover-link;
            &:hover {
                color: $Navbar-color-text;
                .Navbar-accountDropdownLinkIcon {
                    color: $Navbar-color-primary-hover;
                }
            }
        }
        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom: $Navbar-border-style;
            pointer-events: none;
        }
    }
    &.is-auto {
        @media (max-width: $Navbar-breakpoint-mobile-max) {
            background-color: $Navbar-color-background-mobile;
            box-shadow: $Navbar-shadow-mobile;
            .Navbar-desktop {
                display: none;
            }
        }
        @media (min-width: $Navbar-breakpoint-desktop-min) {
            background-color: $Navbar-color-background-desktop;
            .Navbar-mobile {
                display: none;
            }
            .Navbar-dropdown {
                top: $Navbar-height-desktop - 1;
            }
            .Navbar-accountDropdownLink {
                transition: $Navbar-transition-hover-link;
                &:hover {
                    color: $Navbar-color-text;
                    .Navbar-accountDropdownLinkIcon {
                        color: $Navbar-color-primary-hover;
                    }
                }
            }
            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-bottom: $Navbar-border-style;
                pointer-events: none;
            }
        }
    }
    &:not(.is-compact) {
        .Navbar-desktop {
            @media (min-width: $Navbar-breakpoint-wide-min) {
                // We need to position this element to the right of the Blizzard Logo and the padding around it
                .Navbar-collapsedItems {
                    left: $Navbar-offset-logo-wide;
                }
                .Navbar-logo {
                    width: $Navbar-size-logo-wide * $Navbar-aspect-ratio-logo;
                    svg {
                        height: $Navbar-size-logo-wide;
                    }
                }
            }
            @media (min-width: $Navbar-breakpoint-huge-min) {
                .Navbar-item {
                    font-size: $Navbar-font-size-wide;
                }
                .Navbar-profileItems {
                    .Navbar-item {
                        font-size: $Navbar-font-size-profile-wide;
                    }
                }
            }
        }
    }
    &:not(.is-compact):not(.is-simple) {
        .Navbar-desktop {
            @media (min-width: $Navbar-breakpoint-wide-min) {
                padding: 0 $Navbar-margin-wide;
                .Navbar-profileItems {
                    right: $Navbar-margin-wide;
                }
            }
        }
    }
    &.is-compact {
        @media (min-width: $Navbar-breakpoint-desktop-min) {
            background-color: $Navbar-color-background-compact;
        }
        .Navbar-desktop {
            height: $Navbar-height-compact;
            .Navbar-collapsedItems {
                // We need to position this element to the right of the Blizzard Logo and the padding around it
                left: $Navbar-margin-desktop + ($Navbar-size-logo * $Navbar-aspect-ratio-logo) + $Navbar-margin-menu;
            }
            .Navbar-logo {
                height: $Navbar-height-compact;
                width: $Navbar-size-logo * $Navbar-aspect-ratio-logo;
                background-size: auto $Navbar-size-logo;
            }
            .Navbar-item {
                height: $Navbar-height-compact;
                font-size: $Navbar-font-size-compact;
                .Navbar-label {
                    height: $Navbar-height-compact;
                    line-height: $Navbar-height-compact;
                }
                .Navbar-dropdownIcon {
                    width: $Navbar-size-icon-dropdown-compact;
                    svg {
                        height: $Navbar-size-icon-dropdown-compact;
                        top: auto;
                        bottom: -.05em;
                    }
                }
            }
            @media (min-width: $Navbar-breakpoint-wide-min) {
                padding: 0 $Navbar-margin-wide;
                .Navbar-profileItems {
                    right: $Navbar-margin-wide;
                }
            }
        }
        .Navbar-dropdown {
            top: $Navbar-height-compact - 1;
        }
        .Navbar-collapsedItems {
            .Navbar-collapsedIcon {
                margin-top: 0.05em;
            }
        }
    }
}