body.Navbar-blockScrolling {
    @media (max-width: $Navbar-breakpoint-mobile-max) {
        overflow: hidden;
    }
}


/**
	* Navbar-specific helper utility classes
	*/

.Navbar {
    .is-hidden {
        display: none !important;
    }
    .is-displayed {
        display: block !important;
    }
    .is-left {
        text-align: left;
    }
    .is-center {
        text-align: center;
    }
    .is-right {
        text-align: right;
    }
    .is-noSelect {
        user-select: none;
        /* Non-prefixed version, currently not supported by any browser */
    }
    @for $index from 0 through 24 {
        .animation-delay-#{$index} {
            animation-delay: $index * $Navbar-animation-delay-increment;
        }
    }
}