//-- Blizzard core colors (do not override)
$Blizzard-blue-base: #00aeff;
$Blizzard-blue-hover: #00c6ff;
$Blizzard-accent-orange: #ff9000;
$Blizzard-gray-light: #283244;
$Blizzard-gray-medium: #151a23;
$Blizzard-gray-dark: #0b0d12;
// =====================================================================================================================
// OVERRIDABLE VALUES
// =====================================================================================================================
//-- Breakpoints
$Navbar-breakpoint-small-min: 480px !default; // Mobile view below this breakpoint
$Navbar-breakpoint-desktop-min: 768px !default; // Mobile view below this breakpoint
$Navbar-breakpoint-wide-min: 960px !default;
$Navbar-breakpoint-huge-min: 1200px !default;
$Navbar-breakpoint-base-max: $Navbar-breakpoint-small-min - 1 !default;
$Navbar-breakpoint-mobile-max: $Navbar-breakpoint-desktop-min - 1 !default;
$Navbar-breakpoint-desktop-max: $Navbar-breakpoint-wide-min - 1 !default;
$Navbar-breakpoint-wide-max: $Navbar-breakpoint-huge-min - 1 !default;
$Navbar-breakpoint-huge-max: 1600px !default;
//-- Primary colors and overlays
$Navbar-color-primary: $Blizzard-blue-base !default;
$Navbar-color-primary-hover: $Blizzard-blue-hover !default;
$Navbar-color-text: #fff !default;
$Navbar-color-text-2: rgba($Navbar-color-text, 0.7) !default;
$Navbar-color-text-3: rgba($Navbar-color-text, 0.5) !default;
$Navbar-color-text-4: rgba($Navbar-color-text, 0.3) !default;
$Navbar-color-text-inverse: #000 !default;
$Navbar-color-text-inverse-2: rgba($Navbar-color-text-inverse, 0.7) !default;
$Navbar-color-text-inverse-3: rgba($Navbar-color-text-inverse, 0.5) !default;
$Navbar-color-text-inverse-4: rgba($Navbar-color-text-inverse, 0.3) !default;
$Navbar-color-battletag: #82c5ff !default;
$Navbar-color-error: #f00 !default;
$Navbar-color-logo-base: #009ae4;
$Navbar-color-logo-hover: $Navbar-color-primary;
$Navbar-color-background: #000b3a !default;
$Navbar-color-background-mobile: rgba($Blizzard-gray-dark, 0.95) !default;
$Navbar-color-background-desktop: rgba($Navbar-color-text, 0.05) !default;
$Navbar-color-background-compact: $Blizzard-gray-dark !default;
$Navbar-color-background-dropdown: rgba($Blizzard-gray-medium, 0.95) !default;
$Navbar-color-background-dropdown-tick: rgba($Blizzard-gray-light, 0.95) !default;
$Navbar-color-background-dropdown-overlay: rgba(#000, .1) !default;
$Navbar-color-background-modal: rgba($Blizzard-gray-medium, 1) !default;
$Navbar-color-background-hover: rgba($Navbar-color-text, 0.05) !default;
$Navbar-color-background-expandable-body: rgba(#000, .3) !default;
$Navbar-color-background-counter: $Blizzard-accent-orange !default;
$Navbar-color-background-footer-selector-regions: rgba(#000, .2) !default;
$Navbar-color-background-error-overlay: rgba($Navbar-color-error, .3) !default;
$Navbar-color-border-medium: rgba($Navbar-color-text, 0.3) !default;
$Navbar-color-border: rgba($Navbar-color-text, 0.15) !default;
$Navbar-color-border-light: rgba($Navbar-color-text, 0.08) !default;
$Navbar-color-modal-toggle-compact: $Navbar-color-primary !default;
$Navbar-color-modal-toggle-hover-compact: $Navbar-color-primary-hover !default;
$Navbar-color-promotion-close: mix($Navbar-color-text, $Blizzard-gray-light, 30%);
$Navbar-color-promotion-close-hover: $Navbar-color-text;
$Navbar-color-selector-close: $Navbar-color-primary;
$Navbar-color-selector-close-hover: $Navbar-color-primary-hover;
$Navbar-color-overlay: rgba(#000, .5) !default; // Background overlay while navbar dropdowns are active
$Navbar-gradient-background-dropdown-start: $Blizzard-gray-light;
$Navbar-gradient-background-dropdown-end: $Blizzard-gray-medium;
$Navbar-gradient-background-dropdown: radial-gradient(ellipse farthest-side at center top, $Navbar-gradient-background-dropdown-start 0%, rgba($Blizzard-gray-medium, 0.95) 100%);
$Navbar-gradient-background-dropdown-linear: linear-gradient(to bottom, $Navbar-gradient-background-dropdown-start 0%, rgba($Blizzard-gray-medium, 0.95) 100%);
$Navbar-gradient-background-promotion-underlay: linear-gradient(to top, #000 0%, rgba(#000, 0.0) 100%);
//-- Layering values
$Navbar-zIndex-default: 100 !default; // Navbar container default z-index
$Navbar-zIndex-focused: 9999 !default; // Navbar container z-index while any dropdown or menu is open
$Navbar-zIndex-footer-default: 0 !default; // Footer container default z-index
$Navbar-zIndex-footer-focused: 9999 !default; // Footer container default z-index
// =====================================================================================================================
// COMPACT MODE VARIABLES -- Meant to be Overridden
// =====================================================================================================================
//-- Mobile Navbar styles
$Navbar-color-background-compact-mobile: $Navbar-color-background-compact !default;
$Navbar-background-compact-mobile: $Navbar-color-background-compact-mobile !default;
$Navbar-border-bottom-compact-mobile: none !default;
//-- Custom Mobile Site Menu styles
$Navbar-color-site-menu-background-compact: $Navbar-color-background-modal !default;
$Navbar-site-menu-background-compact: $Navbar-color-site-menu-background-compact !default;
$Navbar-color-site-menu-logo-compact: rgba(#FFF, 0.2) !default; // Color of Blizzard logo at bottom of site menu
//-- Mobile Button styles
$Navbar-color-site-menu-open-compact: $Navbar-color-modal-toggle-compact !default;
$Navbar-color-site-menu-open-hover-compact: $Navbar-color-modal-toggle-hover-compact !default;
$Navbar-color-site-menu-close-compact: $Navbar-color-modal-toggle-compact !default;
$Navbar-color-site-menu-close-hover-compact: $Navbar-color-modal-toggle-hover-compact !default;
$Navbar-color-profile-open-compact: $Navbar-color-modal-toggle-compact !default;
$Navbar-color-profile-open-hover-compact: $Navbar-color-modal-toggle-hover-compact !default;
// =====================================================================================================================
// NAVBAR CORE VARIABLES -- Override at your own risk!
// =====================================================================================================================
//-- Fonts and typography
$Navbar-font-family: "Open Sans",
Helvetica,
Arial,
sans-serif !default;
$Navbar-font-family-title: "Blizzard",
Helvetica,
Arial,
sans-serif !default;
$Navbar-font-family-ja-jp: "Open Sans",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"メイリオ",
Meiryo,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"游ゴシック",
"Yu Gothic",
sans-serif;
$Navbar-font-family-ja-jp-title: "Blizzard",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"メイリオ",
Meiryo,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"游ゴシック",
"Yu Gothic",
sans-serif;
$Navbar-font-family-ko-kr: "Open Sans",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"맑은 고딕",
"Malgun Gothic",
"애플산돌고딕네오",
AppleSDGothicNeo,
"애플고딕",
AppleGothic,
"돋움",
Dotum,
sans-serif;
$Navbar-font-family-ko-kr-title: "Blizzard",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"맑은 고딕",
"Malgun Gothic",
"애플산돌고딕네오",
AppleSDGothicNeo,
"애플고딕",
AppleGothic,
"돋움",
Dotum,
sans-serif;
$Navbar-font-family-th-th: "Open Sans",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
Thonburi,
Ayuthaya,
Krungthep,
sans-serif;
$Navbar-font-family-th-th-title: "Blizzard",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
Thonburi,
Ayuthaya,
Krungthep,
sans-serif;
$Navbar-font-family-zh-cn: "Open Sans",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"微软雅黑",
"Microsoft YaHei",
"Hei SC",
sans-serif;
$Navbar-font-family-zh-cn-title: "Blizzard",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"微软雅黑",
"Microsoft YaHei",
"Hei SC",
sans-serif;
$Navbar-font-family-zh-tw: "Open Sans",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"微軟正黑",
"Microsoft JhengHei",
"Tei TC",
sans-serif;
$Navbar-font-family-zh-tw-title: "Blizzard",
Arial,
Helvetica,
"Segoe UI Symbol",
"Segoe MDL2 Assets",
"微軟正黑",
"Microsoft JhengHei",
"Tei TC",
sans-serif;
$Navbar-font-size-base: 16px !default;
$Navbar-font-size-desktop: 17px !default;
$Navbar-font-size-compact: 15px !default;
$Navbar-font-size-wide: 20px !default;
$Navbar-font-size-profile: 15px !default;
$Navbar-font-size-profile-wide: 17px !default;
$Navbar-font-size-battletag: 17px !default;
$Navbar-font-size-email: 13px !default;
$Navbar-font-size-options: 15px !default;
$Navbar-font-size-options-huge: 16px !default;
$Navbar-font-size-logo: 11px !default;
$Navbar-font-size-logo-huge: 15px !default;
$Navbar-font-size-esport: 13px !default;
$Navbar-font-size-esport-huge: 15px !default;
$Navbar-font-size-counter: 11px !default;
$Navbar-font-size-publisher-label: 13px !default;
$Navbar-font-size-promotion-label: 13px !default;
$Navbar-font-size-promotion-text: 17px !default;
$Navbar-font-size-promotion-link: $Navbar-font-size-promotion-text !default;
$Navbar-font-size-popup-label: 17px !default;
$Navbar-font-size-popup-text: 13px !default;
$Navbar-font-size-error: 13px !default;
$Navbar-font-size-expandable: 14px !default;
$Navbar-font-size-footer-link: 15px !default;
$Navbar-font-size-footer-link-desktop: 17px !default;
$Navbar-font-size-footer-selector-text: 13px !default;
$Navbar-font-size-footer-selector-text-sm: 15px !default;
$Navbar-font-size-footer-selector-label: 13px !default;
$Navbar-font-size-footer-copyright: 11px !default;
$Navbar-font-size-footer-copyright-sm: 13px !default;
$Navbar-font-size-footer-sublink: 13px !default;
$Navbar-font-size-footer-legal-sm: 10px !default;
$Navbar-font-size-footer-legal-normal: 11px !default;
$Navbar-font-size-footer-legal-medium: 13px !default;
$Navbar-font-size-registered: 70% !default;
$Navbar-font-weight: 400 !default;
$Navbar-line-height: 1.4 !default;
$Navbar-line-height-button: 1.0 !default;
$Navbar-line-height-promotion: 1.0 !default;
$Navbar-line-height-footer-selector: 1.5 !default;
$Navbar-line-height-error: 1.0 !default;
$Navbar-text-shadow-current-site: 0 0 15px $Navbar-color-text,
0 0 30px rgba($Navbar-color-text, .3) !default;
$Navbar-word-break: normal;
$Navbar-word-break-cjk: keep-all;
//-- Sizes and margins
$Navbar-height-mobile: 48px !default;
$Navbar-height-compact: 40px !default;
$Navbar-height-desktop: 60px !default;
$Navbar-height-mobile-logo: 80px !default;
$Navbar-height-corp-link: 44px !default;
$Navbar-height-expandable-link: 40px !default;
$Navbar-height-expandable-label: 30px !default;
$Navbar-width-expandable-tab: 5px !default;
$Navbar-width-counter: 16px !default;
$Navbar-width-promotion-popup: 400px !default;
$Navbar-width-promotion-image: 48px !default;
$Navbar-width-promotion-image-small: 64px !default;
$Navbar-width-promotion-close: 44px !default;
$Navbar-width-popup-close: 44px !default;
$Navbar-margin-mobile: 20px !default;
$Navbar-margin-desktop: 30px !default;
$Navbar-margin-wide: 40px !default;
$Navbar-margin-menu: 20px !default;
$Navbar-margin-menu-wide: 30px !default;
$Navbar-margin-button: 10px !default;
$Navbar-margin-dropdown: 20px !default;
$Navbar-margin-label: 5px !default;
$Navbar-margin-icon: 5px !default;
$Navbar-margin-icon-thin: 2px !default;
$Navbar-margin-icon-indicator: 8px !default;
$Navbar-margin-promotion: 5px !default;
$Navbar-margin-promotion-small: 10px !default;
$Navbar-margin-poster: 20px !default;
$Navbar-margin-poster-vertical: 15px !default;
$Navbar-margin-publisher: 20px 20px 15px !default;
$Navbar-margin-registered: .4em !default;
$Navbar-margin-popup: 10px !default;
$Navbar-margin-error: 10px 20px !default;
$Navbar-margin-expandable-label: 10px 3px 5px;
$Navbar-margin-footer: 20px !default;
$Navbar-margin-footer-selector-dropdown: 0 !default;
$Navbar-margin-footer-selector-dropdown-sm: 0 20px 5px !default;
$Navbar-margin-footer-selector-section: 5px 30px 10px !default;
$Navbar-margin-footer-selector-section-desktop: 10px 30px 15px !default;
$Navbar-margin-footer-selector-item: 3px !default;
$Navbar-margin-footer-selector-label: 10px !default;
$Navbar-margin-footer-selector-check: 5px !default;
$Navbar-margin-footer-logo: 30px 0!default;
$Navbar-margin-footer-link: 15px !default;
$Navbar-margin-footer-sublink: 10px !default;
$Navbar-margin-footer-links: 15px !default;
$Navbar-margin-footer-legal: 30px !default;
$Navbar-margin-footer-legal-desc: 135px !default;
$Navbar-margin-footer-legal-small: 5px !default;
$Navbar-margin-footer-legal-medium: 10px !default;
$Navbar-margin-footer-legal-icon: 5px !default;
$Navbar-margin-footer-legal-container: 20px !default;
$Navbar-margin-footer-legal-line: 10px 0px 10px 5px !default;
$Navbar-icon-footer-reduced-size: 80% !default;
$Navbar-max-width-slide-menu: 360px !default;
$Navbar-gutter-slide-menu: 40px !default;
// The min-height of the footer locale selector is equal to six lines of option text (due to US+SEA being two lines, plus four more regions) plus the height of the label and margins
$Navbar-footer-dropdown-min-height: ($Navbar-font-size-footer-selector-text * $Navbar-line-height) * 6+($Navbar-font-size-footer-selector-label * $Navbar-line-height)+5 * 2 * $Navbar-margin-footer-selector-item+2 * $Navbar-margin-footer-selector-label+$Navbar-margin-footer * 2;
$Navbar-footer-closer-height: 48px !default;
$Navbar-footer-disclaimer-max-width: 140px !default;
//-- Block styling
$Navbar-shadow-mobile: none !default;
$Navbar-shadow-desktop: none !default;
$Navbar-shadow-dropdown: 0 8px 17px 0 rgba(#000, .2) !default;
$Navbar-shadow-promotion: $Navbar-shadow-dropdown !default;
$Navbar-shadow-counter: 0 0 3px #000 !default;
$Navbar-border-width: 1px;
$Navbar-border-style: solid $Navbar-border-width $Navbar-color-border;
$Navbar-border-style-medium: solid $Navbar-border-width $Navbar-color-border-medium;
$Navbar-border-style-light: solid $Navbar-border-width $Navbar-color-border-light;
$Navbar-size-dropdown-notch: 10px;
$Navbar-size-selector-notch: 15px;
$Navbar-dropdown-footer-height: 50px;
$Navbar-dropdown-icon-transform: rotate(180deg);
$Navbar-dropdown-icon-transform-origin: center;
//-- Logos and posters
$Navbar-games-min-columns: 8;
$Navbar-games-max-columns: 12;
$Navbar-aspect-ratio-logo: 151.15 / 68.46;
$Navbar-size-logo: 28px;
$Navbar-size-logo-desktop: 28px;
$Navbar-size-logo-wide: 34px;
$Navbar-offset-logo-wide: $Navbar-margin-wide+($Navbar-size-logo-wide * $Navbar-aspect-ratio-logo)+$Navbar-margin-menu-wide;
$Navbar-size-icon: 24px;
$Navbar-size-icon-small: 17px;
$Navbar-size-icon-profile: 48px;
$Navbar-size-icon-modal-close: 48px;
$Navbar-size-icon-dropdown: 16px;
$Navbar-size-icon-dropdown-compact: 14px;
$Navbar-size-icon-options: 1.5em;
$Navbar-size-icon-indicator: 10px;
$Navbar-size-icon-external: 20px;
$Navbar-size-icon-check: 18px;
$Navbar-size-icon-footer-legal: 26px;
$Navbar-game-filter: brightness(100%) contrast(100%);
$Navbar-game-filter-hover: brightness(115%) contrast(90%);
$Navbar-poster-width: 432px / 2;
$Navbar-poster-height: 360px / 2;
$Navbar-poster-calc-width: 135px;
$Navbar-poster-min-width: 0;
$Navbar-poster-max-width: none;
$Navbar-poster-height-drop: 20px;
$Navbar-poster-border: $Navbar-border-style;
$Navbar-poster-border-hover: $Navbar-border-style-medium;
$Navbar-poster-shadow: 0 8px 17px rgba(#000, .1);
$Navbar-poster-shadow-hover: $Navbar-poster-shadow;
$Navbar-poster-filter: $Navbar-game-filter;
$Navbar-poster-filter-hover: $Navbar-game-filter-hover;
$Navbar-game-logo-width: 130px;
$Navbar-game-logo-height: $Navbar-game-logo-width;
$Navbar-game-logo-width-dynamic: 12.10vw;
$Navbar-game-logo-height-dynamic: 16.145vw;
$Navbar-game-logo-width-min: 80px;
$Navbar-game-logo-height-min: ($Navbar-game-logo-height-dynamic / 100vw) * $Navbar-breakpoint-desktop-min;
$Navbar-game-logo-image-width: 64px;
$Navbar-game-logo-image-height: 64px;
$Navbar-esport-logo-size-native: 344px;
$Navbar-esport-logo-size: 16vw;
$Navbar-esport-logo-size-max: 192px;
$Navbar-esport-filter: $Navbar-game-filter;
$Navbar-esport-filter-hover: $Navbar-game-filter-hover;
$Navbar-account-link-height: 44px;
$Navbar-footer-logo-width: 124px;
$Navbar-footer-logo-height: 66px;
$Navbar-footer-logo-filter: brightness(100%) contrast(100%);
$Navbar-footer-logo-filter-hover: brightness(115%) contrast(90%);
$Navbar-footer-selector-column: 200px;
$Navbar-footer-selector-two-column: 2 * $Navbar-footer-selector-column+2 * $Navbar-margin-dropdown;
$Navbar-footer-selector-three-column: 3 * $Navbar-footer-selector-column+2 * $Navbar-margin-dropdown;
$Navbar-footer-legal-rating-max-height: 97px;
//-- Animations
$Navbar-transition-hover-speed: 200ms !default;
$Navbar-transition-hover-link: color $Navbar-transition-hover-speed,
background-color $Navbar-transition-hover-speed;
$Navbar-transition-hover-button: color $Navbar-transition-hover-speed,
background-color $Navbar-transition-hover-speed,
border-color $Navbar-transition-hover-speed;
$Navbar-transition-hover-dropdown: opacity $Navbar-transition-hover-speed;
$Navbar-transition-hover-game: filter $Navbar-transition-hover-speed;
$Navbar-transition-hover-label: color $Navbar-transition-hover-speed;
$Navbar-transition-hover-poster: border-color $Navbar-transition-hover-speed;
$Navbar-transition-hover-poster-inner: filter $Navbar-transition-hover-speed;
$Navbar-transition-hover-esport: filter $Navbar-transition-hover-speed;
$Navbar-transition-dropdown-speed: $Navbar-transition-hover-speed !default;
$Navbar-transition-dropdown-in: opacity $Navbar-transition-dropdown-speed,
transform $Navbar-transition-dropdown-speed;
$Navbar-transition-slide-menu-speed: $Navbar-transition-hover-speed !default;
$Navbar-transition-expandable-speed: $Navbar-transition-hover-speed !default;
$Navbar-transition-expandable: height $Navbar-transition-expandable-speed !default;
$Navbar-transition-promotion-speed: $Navbar-transition-hover-speed !default;
$Navbar-animation-delay-increment: 50ms !default;
$Navbar-animation-delay-increment-count: 8 !default;
$Navbar-animation-delay-increment-total: $Navbar-animation-delay-increment * $Navbar-animation-delay-increment-count !default;
//-- Buttons
$Navbar-button-background: #0e86ca !default;
$Navbar-button-background-hover: $Navbar-color-primary !default;
$Navbar-button-background-pressed: #095386 !default;
$Navbar-button-background-disabled: rgba(#1b1e27, 0.8) !default;
$Navbar-button-border-style: solid 1px !default;
$Navbar-button-border: $Navbar-button-border-style $Navbar-color-primary !default;
$Navbar-button-border-hover: $Navbar-button-border-style $Navbar-color-primary !default;
$Navbar-button-border-pressed: $Navbar-button-border-style #095386 !default;
$Navbar-button-border-disabled: $Navbar-button-border-style $Navbar-button-background-disabled !default;
$Navbar-button-text: $Navbar-color-text !default;
$Navbar-button-text-hover: $Navbar-button-text !default;
$Navbar-button-text-pressed: rgba($Navbar-button-text, 0.8) !default;
$Navbar-button-text-disabled: rgba($Navbar-button-background-hover, 0.15) !default;
$Navbar-button-padding: 10px 50px !default;
$Navbar-button-tiny: 4px 20px !default;
$Navbar-button-tertiary-background: rgba(black, .2) !default;
$Navbar-button-tertiary-background-hover: rgba(black, .2) !default;
$Navbar-button-tertiary-background-pressed: rgba(black, .3) !default;
$Navbar-button-tertiary-background-disabled: rgba(black, .2) !default;
$Navbar-button-tertiary-border: rgba(white, .15) !default;
$Navbar-button-tertiary-border-hover: rgba(white, .3) !default;
$Navbar-button-tertiary-border-pressed: rgba(white, .15) !default;
$Navbar-button-tertiary-border-disabled: rgba(white, .05) !default;
$Navbar-button-tertiary-text: #00aeff !default;
$Navbar-button-tertiary-text-hover: #91e4ff !default;
$Navbar-button-tertiary-text-pressed: rgba(145, 228, 255, .8) !default;
$Navbar-button-tertiary-text-disabled: rgba($Navbar-button-tertiary-text, .15) !default;
//-- Internal modifiers (do not override)
$Navbar-zIndex-modal: 3;
$Navbar-zIndex-overlay: 2;
$Navbar-zIndex-above: 1;